.turno-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.numero-turno {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.texto-turno {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

/* Estilos para los botones */
.botones-turno {
  display: flex;
  justify-content: center;
  gap: 20px; /* Separación entre los botones */
  margin-top: 20px;
}

.boton-turno {
  background-color: #ddd; /* Color gris */
  border: none;
  padding: 10px 20px;
  font-size: 2rem; /* Misma fuente que .texto-turno */
  font-weight: bold; /* Misma fuente que .texto-turno */
  border-radius: 5px;
  cursor: pointer;
  text-align: center; /* Alineación del texto centrado */
}

.boton-turno:hover {
  background-color: #bbb; /* Cambio de color al pasar el mouse */
}

.boton-turno:active {
  background-color: #aaa; /* Cambio de color al hacer clic */
}
